PORT=port
DATABASE_URL=postgres://user:password@postgres:5432/RecruitmentDB

# Storage Provider
STORAGE_DRIVER=local # Si quieres guardar en local 'local', si quieres guardar en un servidor S3 's3'

# Configuración Local
UPLOAD_DIR=uploads/cvs 
MAX_FILE_SIZE_MB=tamano_en_mb

# Configuración OCI S3-Compatible
OCI_S3_ENDPOINT=https://<namespace>.compat.objectstorage.<region>.oraclecloud.com
OCI_S3_REGION=<region>
OCI_S3_BUCKET_NAME=<nombre-del-bucket>
OCI_S3_ACCESS_KEY_ID=<access-key-customer-secret>
OCI_S3_SECRET_ACCESS_KEY=<secret-key-customer-secret>
CDN_PUBLIC_URL=<url-cdn-publico>