PORT=port
DATABASE_URL=postgres://user:password@postgres:5432/AttendanceDB
EMPLOYEE_SERVICE_URL=http://employee-service:3002
EMPLEADOS_SIMULADOS=true
DISPOSITIVOS_BIOMETRICOS=BIO-CENTRAL-01:cambiar-esta-clave
